body {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

section {
  padding-top: 30px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;

}

div {
  margin: auto;
}

ul, a {
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
  display:block;
  height: 100%;
}
